html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.icon img{
    float: left;
    width: 9vw;
    max-width: 100px;
    min-width: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.Navigation{
    height: 10vh;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 2vh;
    padding: 0;
}

ul li{
    display: inline-block;
    margin: 0 1.5vw;
    padding: 0;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
}

.btnNav::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s;
}

ul li a:hover::after{
    width: 100%;
    transition: width 0.3s;
}

.btnInscription{
    border: 1px solid #ffffff ;
    padding: 4px;
    transition: 0.3 ease;
}

.btnInscription:hover{
    background-color: #ffffff;
    color: rgba(0, 0, 0, 1);
}

body{
    background-color: #ffffff;
}

main{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ArrierePlan{
    background-image: url("../Img/Forest-04.jpeg");
    margin: 20px;
    height: 125vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

.Titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 8vw;
}

form{
    background-color: #AAA;
    font-family: 'Open Sans';
    border: 2px solid #ffffff;
    border-radius: 3px;
    display: inline-block;
    width: 20vw;
    max-width: 700px;
    min-width: 300px;
}

fieldset{
    display: block;
    text-align: center;
}

label{
    margin: 12px auto;
    display: block;
    font-weight: bold;
}

.input{
    display: block;
    margin: 0 auto;
}

.btnSubmit{
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans';
    border-radius: 10px;
    border: none;
}

.contenu-sponsor{
    display: inline-block;
    color: #ffffff;
    width: 250px;
    padding-left: 10px;
    text-align: center;
}

.img-sponsor{
    width: 60px;
}

.wrapper{
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    margin-top: 5vh;
    font-family: 'Open Sans';
    padding: 20px;
}

.txtFooter{
    display: inline-block;
}

.FlecheHaut{
    display: inline-block;
    float: right;
    width: 40px;
}

@media (max-width: 1200px){

    form, .contenu-sponsor{
        display: block;
        text-align: center;
        margin: 20px auto;
    }
    
    .Titre{
        top: 30%;
        font-size: 10vw;
        display: block;
    }

    header nav{
        display: none;
    }

    .icon img{
        padding-left: 0;
        float: none;
    }

    .icon{
        margin: 0 auto;
        text-align: center;
    }

    #ArrierePlan{
        margin: 10px;
    }
}