html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

#Icon img{
    float: left;
    width: 9vw;
    max-width: 100px;
    min-width: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.Navigation{
    height: 10vh;
}

header{
    background-image: url("../Img/Forest-01.jpeg");
    margin: 20px;
    height: 125vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 2vh;
    padding: 0;
}

ul li{
    display: inline-block;
    margin: 0 1.5vw;
    padding: 0;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
}

.btnNav::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s;
}

ul li a:hover::after{
    width: 100%;
    transition: width 0.3s;
}

.btnInscription{
    border: 1px solid #ffffff ;
    padding: 4px;
    transition: 0.3 ease;
}

.btnInscription:hover{
    background-color: #ffffff;
    color: rgba(0, 0, 0, 1);
}

.Titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 8vw;
}

.FlecheBas{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
}

main{
    background-color: #ffffff;
}

#Titre-Information{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 5vw;
    color: #444444;
    margin-bottom: 2vh;
    margin-left: 11.5vw;
}

#Koala{
    display: inline-block;
    width: 37%;
}

.contenu-Information{
    display: inline-block;
    width: 58%;
    background-color: #AAA;
    height: 50%;
    vertical-align: middle;
    margin: 0 2vw;
    padding: 2vw;
}

.contenu{
    display: inline-block;
    font-family: 'Open Sans';
    margin: 0 auto;
    color: #444444;
    text-align: center;
    text-decoration: none;
}

#Raisons{
    margin: 0px 20px 20px 20px;
    background-color: #ffffff;
    text-align: center;
}

#Titre-Raisons{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 2.5em;
    color: #444444;
    border: 2px solid #444444;
    padding: 5px;
    margin: 10px;
}

.sousTitre-Raisons{
    font-family: 'Open Sans';
    margin: 2.5vw 1vw;
}

.wrapper{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.Carte{
    display: inline-block;
    margin: 15px 15px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: 0.5s ease;
    font-family: 'Open Sans';
}

.Carte:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

.img-Raisons{
    max-width: 200px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px solid #000;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.contenu-Raisons{
    margin-bottom: 15px;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    margin-top: 5vh;
    font-family: 'Open Sans';
    padding: 20px;
}

.txtFooter{
    display: inline-block;
}

.FlecheHaut{
    display: inline-block;
    float: right;
    width: 40px;
}

#LienHeader{
    display: none;
}


@media (max-width: 1200px){
    header{
        margin: 10px;
        background-image: url("../Img/Forest-07.jpg");
    }

    nav{
        display: none;
    }

    #Icon img{
        padding-left: 0;
        float: none;
    }

    #Icon{
        margin: 0 auto;
        text-align: center;
    }

    .FlecheBas{
        display: none;
    }

    #LienHeader{
        display: block;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ffffff ;
        padding: 4px;
        color: #ffffff;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 5vw;
    }

    #Information{
        margin: 0 15vw;
    }
    
    #Koala{
        display: none;
    }

    #Titre-Information{
        font-size: 2.2em;
        margin: 0 auto;
        color: #ffffff;
        height: 15vh;
    }

    .contenu-Information{
        display: block;
        text-align: center;
        margin: 0 auto;
        width: auto;
        height: 60vh;
        background-image: url("../Img/animal-01.jpeg");
        background-position: center;
        background-attachment: scroll;
    }

    #Information, img.background {
        filter: grayscale(75%);
      }

    #Info-Contenu{
        color: #ffffff;
        font-weight: lighter;
        text-align: center;
        height: 45vh;
    }
}